.home {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
}

.loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
  }

.button{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
